.containersidebar{
    display: flex;
    width: 100%;
    z-index: 30;

    h2{
        color:white;
        margin:5px;
        padding:5px;
    }
    .contentboxsidebar{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        box-shadow: 5px;
        height: 100%;
        width: 20vw;
        background-color: #034E94;

        .searchsidebar{
            display: flex;
            align-items: center;
            justify-content: center;
            height:30px;
        
        

            input{
                padding: 5px;
                margin: 10px;
                width: 100%;
                background-color: rgb(255, 255, 255);
                border: none;
                border-radius: 5px;
                color: rgb(0, 0, 0);
                outline: none;
                font-size: 18px;

                &::placeholder{
                    color:rgb(30, 74, 155);
                }
            }
        
        }

        .cardcontainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            

            .card{
                display: flex;
                overflow: hidden;
                position: relative;
                margin: 5px;
                gap: 5px;
                height: 50px;
                width:90%;
                border-radius: 5px;
                border: 1px solid #FFAD56;
                
                .card_thumbnail{
                        display: flex;
                        align-items: center;
                        height: 100%;
                        background-size: cover;
                        background-position: center;
                        cursor: pointer;
                        
                        &:hover img{
                            background-color: rgba(255, 255, 255, 0.863);
                            cursor: pointer;
                            transform: scale(1.2);
                            
                        }
                    
                    .imgTitle{ 
                            position: absolute;
                            font-size: 1.2em;
                            font-weight: 600;
                            top: 10%;
                            left: 32%;
                            color: #fff;
                            z-index: 2;
                            display: inline-block;
                            padding: 10px 10px;
                    }    
                }
            } 
        }

    }

    .settingsbar{
        margin:0;
        padding: 0;
        height: 100%;
        width: 100%;


        .settingscard{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin:5px;
            padding: 5px;

            .settingslist{
                list-style: none;
                color:white;
                font-size: 1rem;
                margin:3px;

        
                &:hover{
                    cursor: pointer;
                    
                }
            }
        }
    }
}
