.containersidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  z-index: 30;
}

.containersidebar h2 {
  color: white;
  margin: 5px;
  padding: 5px;
}

.containersidebar .contentboxsidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  -webkit-box-shadow: 5px;
          box-shadow: 5px;
  height: 100%;
  width: 20vw;
  background-color: #034E94;
}

.containersidebar .contentboxsidebar .searchsidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
}

.containersidebar .contentboxsidebar .searchsidebar input {
  padding: 5px;
  margin: 10px;
  width: 100%;
  background-color: white;
  border: none;
  border-radius: 5px;
  color: black;
  outline: none;
  font-size: 18px;
}

.containersidebar .contentboxsidebar .searchsidebar input::-webkit-input-placeholder {
  color: #1e4a9b;
}

.containersidebar .contentboxsidebar .searchsidebar input:-ms-input-placeholder {
  color: #1e4a9b;
}

.containersidebar .contentboxsidebar .searchsidebar input::-ms-input-placeholder {
  color: #1e4a9b;
}

.containersidebar .contentboxsidebar .searchsidebar input::placeholder {
  color: #1e4a9b;
}

.containersidebar .contentboxsidebar .cardcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.containersidebar .contentboxsidebar .cardcontainer .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
  margin: 5px;
  gap: 5px;
  height: 50px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid #FFAD56;
}

.containersidebar .contentboxsidebar .cardcontainer .card .card_thumbnail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.containersidebar .contentboxsidebar .cardcontainer .card .card_thumbnail:hover img {
  background-color: rgba(255, 255, 255, 0.863);
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.containersidebar .contentboxsidebar .cardcontainer .card .card_thumbnail .imgTitle {
  position: absolute;
  font-size: 1.2em;
  font-weight: 600;
  top: 10%;
  left: 32%;
  color: #fff;
  z-index: 2;
  display: inline-block;
  padding: 10px 10px;
}

.containersidebar .settingsbar {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.containersidebar .settingsbar .settingscard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 5px;
  padding: 5px;
}

.containersidebar .settingsbar .settingscard .settingslist {
  list-style: none;
  color: white;
  font-size: 1rem;
  margin: 3px;
}

.containersidebar .settingsbar .settingscard .settingslist:hover {
  cursor: pointer;
}
/*# sourceMappingURL=Homesidebar.css.map */